---
layout: base.liquid
title:  肯定是e人更吃香！
description: i人和e人谁更吃香？肯定是e人更吃香！
---
<script>
	var color = "f6c518";
</script>
<section class="layout-wrapper">
	<div class="container-lg">
		<h1 class="page-title">
			肯定是e人更吃香！
		</h1>
	</div>
	<div class="container-lg media-and-text wide-right">
		{% image "dried-leaves.jpg", "standing at sun rise", "media image-top" %}
		<div class="text">
			<p>外向活泼的e人就像行走的小太阳，既可以大胆社交，又能在人群中成为气氛制造机！不过我们e人最讨厌一个人待着啦，毕竟出去嗨才能看见e人的光芒嘛～总体上看，作为一个e人确实很吃香！</p>
			<p>是呀，如此自信乐观，又能带给大家活力和欢乐的e人，谁会不喜欢呢？
				只是，e人虽然是人群中耀眼的星，但也总归要面对人群散开的时候吧？独自一人的时候，e人又是否能学会平静自处呢？</p>
		</div>
	</div>
</section>

<section class="layout-wrapper">
	<div class="container-lg media-and-text wide-left">
		<div class="media">
			{% image "sitting-on-stairs.jpg", "man standing", "image-wrapper" %}
			
		</div>
		<div class="text">
			<h2>鲜有人知的一面</h2>
			<p>当著名歌手李玟离开之后，许多人都觉得不可思议，一个如此阳光灿烂的生命，怎么会选择以自杀的方式让光芒就此陨落？“阳光抑郁症”，实在隐藏的令人可怕。
				她积极乐观的性格与优秀的能力都显而易见，但她遗言里哭诉的绝望，那阳光后面的阴影却鲜有人发觉。
				e人虽然看起来朋友很多，但又有几个真正懂你、接纳你？当你把光鲜亮丽的一面展现给众人时，你的阴影又能展现给谁呢？
				有没有一位朋友，可以在阴影中拥抱你？在孤独时陪伴你？在独自一人的暗夜里听你倾诉？</p>
				<h2>有一位朋友</h2>
				<p>有的，有这样一位朋友，他就是——耶稣！</p>
				<p>在《圣经》中有这样一个故事。曾有一个税吏，名叫撒该，他虽然很富足，心里却不快乐。因为他的工作就是代表压迫他本民族的罗马政府向他的同胞征税，所以大家都不喜欢他。
					那天耶稣从他所在的村子经过。撒该曾听闻耶稣，对耶稣十分好奇。因为人多，他不能到耶稣跟前去。他就去爬上一棵树，只为要看耶稣。耶稣了解撒该的内心，知道撒该是多么渴望被接纳，于是他抬头，对他说：“撒该，快下来，我今天要住在你家里了！”撒该就赶紧下来，欢欢喜喜地接待耶稣。
					</p>
				<p>无人喜欢撒该，但耶稣却愿意做他的朋友，完全接纳他。</p>
		</div>
	</div>
</section>

<section class="layout-wrapper">
	<div class="container-lg media-and-text wide-left">
		<div class="media">
			{% image "standing-near-tree.jpg", "man standing", "image-wrapper" %}
		</div>
		<div class="text">
			<h2>耶稣也接纳你</h2>
			<p>耶稣不止接纳撒该，他也接纳你。
				他愿意成为你最好的朋友，愿意在你孤独清冷的时候陪伴你；当你有了无人可以诉说的忧愁时，他都愿意倾听你。
				曾有一位先知记录下这位朋友的应许，他说：
				</p>
			<p>圣经告诉我们，真正创造并塑造我们的，是上帝。曾经有一位诗人认识到自己被造的奥秘后，如此赞美上帝：</p>
			<blockquote>
				<p>“直到你们年老，我不改变；直到你们发白，我仍扶持。我已造你，就必背你；我必抱你，也必拯救。”</p>
				<cite>以赛亚书46:4 和合本2010</cite>
			</blockquote>
		<p>是的，从年幼到苍老，从死亡到永恒，他愿意爱你到底！</p>
		<p>这样一位宝贵的挚友，你愿意更多认识他吗？</p>
		</div>
	</div>
</section>

{% include 'form' %}
{% include 'popup' %}
