---
layout: base.liquid
title:   i人也很吃香好不好
description: i人和e人谁更吃香？i人也很吃香好不好
---
<script>
	var color = "f6416c";
</script>
<section class="layout-wrapper">
	<div class="container-lg">
		<h1 class="page-title">
			i人也很吃香好不好
		</h1>
	</div>
	<div class="container-lg media-and-text wide-right">
		{% image "reading-a-book.jpg", "reading a book", "media" %}
		<div class="text">
			<p>无论是职场还是社交中，i人都喜欢低调出场，他们心思细腻，行事谨慎，总能给人一种踏实可靠的感觉。与i人相处的时候也从来不会觉得有压力。所以i人也是很受欢迎的呢！</p>
			<p>的确，i人行事独立内敛、低调沉稳；而且轻而易举就能战胜孤独感甚至享受独处，这也不失为一种内心的强大！</p>
		</div>
	</div>
</section>

<section class="layout-wrapper">
	<div class="container-lg media-and-text wide-left">
		<div class="media">
			{% image "girl-with-glasses.jpg", "girl with glasses", "image-wrapper" %}
			
		</div>
		<div class="text">
			<p>然而，这些吃香的优点背后，i人是否也背负了些许无奈？
				譬如在做选择时i人总是不敢大胆迈步，比起主动选择更愿意被动接受；i人往往更看重自己能做的，却不愿挑战自己不擅长的；除此之外，身为i人的我们还在不同程度上被“社恐”困扰着……</p>
			<p>活在i人的标签下，就像找到了舒适圈。可谁也不想一生都龟缩在舒适圈里，有没有谁能带给我们走出去的安全感和勇气？</p>
		</div>
	</div>
</section>

<section class="layout-wrapper">
	<div class="container-lg media-and-text wide-left">
		<div class="media">
			{% image "sun-on-her-face.jpg", "sun on her face", "image-wrapper" %}
		</div>
		<div class="text">
			<h2>被爱，才有安全感</h2>
			<p>事实是，有一位创造天地宇宙万物的造物主上帝，他也创造了我们，他赐给我们生命气息，使我们得以存活。他爱我们，无论我们什么样，他都愿意无条件的接纳。他对寻求他的人说：</p>
			<blockquote>
				<p>“我以永远的爱爱你，因此我以慈爱吸引你。”</p>
				<cite>耶利米书31:3</cite>
			</blockquote>
		<p>在这位至高神眼中，你极其宝贵；在他的怀抱中，你能有十足的安全感。你不必再害怕别人的眼光和评价，不必自己给自己设定什么能做，什么不能。你可以突破自我的辖制，被他引领去探索各种丰富的可能性： </p>
		<blockquote>
			<p>“我靠着那加给我力量的，凡事都能作。”</p>
			<cite>腓立比书4:13</cite>
		</blockquote>
		<p>来认识这位爱你的上帝吧！你的人生其实还有更多的可能🎉</p>
		</div>
	</div>
</section>

{% include 'form' %}
{% include 'popup' %}
