---
layout: base.liquid
title:  这可不好说
description: i人和e人谁更吃香？这可不好说
---
<script>
	var color = "15b6e9";
</script>
<section class="layout-wrapper">
	<div class="container-lg">
		<h1 class="page-title">
			这可不好说
		</h1>
	</div>
	<div class="container-lg media-and-text wide-right">
		{% image "current-mood.jpg", "current mood", "media" %}
		<div class="text">
			<p>i人还是e人？不好说。世界上没有相同的两片树叶，也没有相同的人。每个人的性格都有自己的长处，何必被标签束缚住呢？</p>
			<p>测评自己是i人还是e人的测试，试图简化思维，把每个人纳入一个小格子里，本身就有偏颇。</p>
			<p>如果你选了这个选项，我想说——不错，你很棒！对于人生与个性，你有独立的判断和思考，对于众人都热衷的事物，你保持了独一份的清醒。👍</p>
		</div>
	</div>
</section>

<section class="layout-wrapper">
	<div class="container-lg media-and-text wide-left">
		<div class="media">
			{% image "hand-in-light.jpg", "hand in light", "image-wrapper" %}
			
		</div>
		<div class="text">
			<h2>内心深处的渴望</h2>
			<p>其实，做MBTI测试，归根结底反应了我们内心深处想要更加认识自己的渴望。 
				尽管人类曾借用过心理学、人类学、星象甚至是AI智能想要了解探索自己的本质，但终究不能够准确的认识“我自己”。
				自己看自己，似乎总是会走入一个死胡同，我们不如换个视角来思考这个问题。
				举个例子，拿我们日用的书桌来说，到底是书桌自己认识自己更容易呢？还是造它的木匠更了解它呢？显然是那位创造者。</p>
				<p>不知道你有没有听过“造物主”这样的称呼？事实是，那一位创造天地宇宙万物的上帝，他也精心地创造了我们！我们身体精巧的构造，各个器官复杂的脉络，还有我们独特的心灵和头脑，没有一样是出于偶然的。是上帝通过我们的父母把我们带到世上。
					曾经有一位诗人想到自己的受造时，赞美上帝说：</p>
				<blockquote>
					<p>“我的肺腑是你所造的。
						我在母腹中，你已覆庇我。
						我要称谢你，因我受造奇妙可畏。
						你的作为奇妙，这是我心深知道的。
						
						”</p>
					<cite>诗篇139:13-14</cite>
				</blockquote>
				<p>最了解我们的，也必然创造我们的那位！</p>
		</div>
	</div>
</section>

<section class="layout-wrapper">
	<div class="container-lg media-and-text wide-left">
		<div class="media">
			{% image "standing-near-water.jpg", "standing near water", "image-wrapper" %}
		</div>
		<div class="text">
			<h2>在上帝那里找到答案</h2>
			<p>当我们与上帝建立亲密的关系时，他会恢复我们内心的满足和喜乐。曾有一位品尝过上帝恩典的人这样说：</p>
			<blockquote>
				<p>“你已将生命的道路指示我，必叫我因见你的面，得着满足的快乐。”</p>
				<cite>使徒行传 2:28 </cite>
			</blockquote>
		<p>他创造我们的丰富，远超过任何人格特质标签所能涵盖的。
			你的本源究竟是什么？你又该如何认识你自己？想了解更多，不如亲自来问问这位伟大的造物主吧！</p>
		</div>
	</div>
</section>

{% include 'form' %}
{% include 'popup' %}
